{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'styles/base.css' %}">
	{% block head %}
	{% endblock %}
</head>

<body>
	<div class="home-page">
		<header>
			<div class="top-bar">
				<div class="container top-right">
					<ul class="top-bar-menu">
						<li class="top-bar-menu-item" id='home-page'><a class="top-bar-links" href="{% url 'home' %}">Главная</a>
						</li>
						<li class="top-bar-menu-item" id='shopping-cart-page'><a class="top-bar-links" href="{% url 'shopping_cart' %}">Корзина</a></li>
						<li class="top-bar-menu-item" id='blog-page'><a class="top-bar-links"
								href="https://themes.g5plus.net/handmade/home-01/" target="_blank">Блог</a></li>
						<li class="top-bar-menu-item" id="openModalBtn"><span class='colored-login-button'>Войти</span></li>
						<div id="registrationModal" class="modal">
							<div class="container modal-content" id='loginForm'>
								<span class="close">&times;</span>
								<h2>ВХОД <span id='registerLink'>/ РЕГИСТРАЦИЯ</span></h2>
								<form class="login-form" action="/submit_login" method="post">
									<input class='registration-row' type="email" name="email" placeholder="Email или телефон" required>
									<input class='registration-row' type="password" name="password" placeholder="Пароль" required>
									<button class='gradient-button reg-button' type="submit">Войти</button>
								</form>
							</div>
							<div class="container modal-content" id='registerForm'>
								<span class="close">&times;</span>
								<h2><span id='loginLink'>ВХОД /</span> РЕГИСТРАЦИЯ</h2>
								<form class="register-form" action="/submit_registration" method="post">
									<input class='registration-row' type="text" id="name" name="name" placeholder="Имя" required>
									<input class='registration-row' type="email" id="email" name="email" placeholder="Email" required>
									<input class='registration-row' type="tel" id="phone" name="phone" placeholder="Телефон" required>
									<input class='registration-row' type="password" id="password" name="password" placeholder="Пароль" required>
									<div id="message">
										<h4>Пароль должен содержать следующее:</h4>
										<div class="password-strength-check">
											<p id="letter" class="invalid">Маленькие буквы</p>
											<p id="capital" class="invalid">Большие буквы</p>
											<p id="number" class="invalid">Число</p>
											<p id="length" class="invalid">Минимум 8 символов</p>
										</div>
									</div>
									<input class='registration-row' type="password" id="confirmPassword" name="confirmPassword" placeholder="Подтвердите пароль" required>
									<button class='gradient-button reg-button' type="submit">Зарегистрироваться</button>
								</form>
							</div>
						</div>
					</ul>
				</div>
			</div>
			<div class="header-categories-search">
				<div class="container">
					<div class="logo">
						<img src="{% static 'images/logo.png' %}" alt="logo">
					</div>
					<div class="search">
						<form class="search-with-category" action="/search" , method="get">
							<select name="categories">
								<option value="categories">Категории</option>
								<option value="paintings">Картины</option>
								<option value="stuffed-toys">Мягкие игрушки</option>
								<option value="brooches">Броши</option>
							</select>
							<input class='product-search' type="text" name="search" placeholder="Поиск">
							<button class="search-button">
								<img src="{% static 'images/search.png' %}" alt="search" , width="30" , height="30">
							</button>
						</form>
						<div class="shopping-cart">
							<div class="cart">
								<a href="{% url 'shopping_cart' %}"><img src="{% static 'images/products-in-cart.png' %}" alt="cart" , width="25" , height="25"></a>
							</div>
							<div class="total-price">
								<p>9500 ₽</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav class='navigation'>
				<menu class='container'>
					<ul class="main-menu">
						<li class="menu-item catalogue">Каталог
							<div class="hr-menu">
								<hr class="hr-top">
								<hr class="hr-bottom">
							</div>
							<div class="popup-menu">
								<ul class="popup-menu-list">
									<li class="catalogue-item"><a class="top-bar-links" href="{% url 'products_by_category' category_id=2 %}"><span
												class="transformed">Картины</span></a></li>
									<li class="catalogue-item"><a class="top-bar-links" href="{% url 'products_by_category' category_id=3 %}"><span
												class="transformed">Мягкие игрушки</span></a>
									</li>
									<li class="catalogue-item"><a class="top-bar-links" href="{% url 'products_by_category' category_id=4 %}"><span
												class="transformed">Броши</span></a></li>
								</ul>
							</div>
						</li>
						<li class="menu-item">Обо мне</li>
						<li class="menu-item">Портфолио</li>
						<li class="menu-item"><a class="top-bar-links" href="{% url 'delivery' %}">Оплата и доставка</a></li>
						<li class="menu-item">Контакты</li>
						<li class="menu-item">Новые посты</li>
						</ul>
				</menu>
			</nav>	
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			<div class="container contacts">
				<h2>Мои контакты</h2>
				<div class='phone-email'>
					<p>+79600852218</p>
					<p>Florencia19@mail.ru</p>
				</div>
				<div class="links">
					<div class="vkontakte social-icon">
						<img src="{% static 'images/vkontakte-circle.png' %}" alt="vkontakte" , width="40" , height="40">
					</div>
					<div class="odnoklassniki social-icon">
						<img src="{% static 'images/odnoklassniki-circle.png' %}" alt="odnoklassniki" , width="40" , height="40">
					</div>
					<div class="telegram social-icon">
						<img src="{% static 'images/telegram-circle.png' %}" alt="telegram" , width="40" , height="40">
					</div>
					<div class="whatsapp social-icon">
						<img src="{% static 'images/whatsapp-circle.png' %}" alt="whatsapp" , width="40" , height="40">
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="{% static 'scripts/base.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body>

</html>