@font-face {
	font-family: "frankinity";
	src: url("../fonts/frankinity/FRANKINITY.otf") format("opentype");
}

@font-face {
	font-family: "roboto";
	src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

body {
	font-family: "roboto", sans-serif;
	margin: 0;
}

main {
	padding: 0 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Верхний хедер */

.top-bar {
	width: 100%;
	height: 57px;
	background-color: #f5f5f5;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.top-right {
	justify-content: right;
}

.top-bar-menu {
	height: 57px;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0;
	margin: 0;
}

.top-bar-menu-item {
	list-style-type: "|";
	margin: 0 10px 0 10px;
	cursor: pointer;
	padding-left: 15px;
	font-weight: 200;
	color: rgb(102, 102, 102);
}

#home-page {
	list-style-type: none;
}

.top-bar-links:hover {
	color: violet;
}

.colored-login-button:hover {
	cursor: pointer;
	color: violet;
}

/* Скрыть модальное окно по умолчанию */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	animation: fadeIn 0.5s;
}

.modal-content {
	width: 450px;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 60px;
	flex-direction: column;
	position: relative;
	animation: slideIn 0.5s;
	border-radius: 10px;
	border: none;
	box-shadow: inset 0 0 100px indigo;
}

.modal-content h2 {
	font-weight: 100;
	cursor: pointer;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: auto;
}

#registerLink,
#loginLink {
	color: rgb(177, 177, 177);
}

.registration-row {
	font-size: large;
	margin: 5px 0;
	padding: 15px 10px;
	border: none;
	border-bottom: 1px solid rgb(177, 177, 177);
	background: transparent;
}

.registration-row:focus {
	outline: none;
	border-radius: 10px;
	box-shadow: inset 0 0 10px indigo;
}

.login-form,
.register-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 28px;
}

.close:hover,
.close:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		transform: translateY(-50px);
	}

	to {
		transform: translateY(0);
	}
}

/* Окно проверки пароля */

#message {
	display: none;
	position: relative;
	flex-direction: column;
	align-items: center;
	line-height: 5px;
}

.password-strength-check {
	width: 200px;
}

.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -5px;
	content: "✔";
}

.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -5px;
	content: "✖";
}

/* Нижний хедер */

.header-categories-search {
	border-bottom: 1px solid #e0e0e0;
	height: 176px;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.logo img {
	width: 240px;
	height: 120px;
	cursor: pointer;
}

.logo {
	width: 20%;
	height: 119px;
	display: flex;
	align-items: center;
}

.search {
	width: 80%;
	height: 44px;
	text-align: right;
	display: flex;
	align-items: center;
	flex: 1;
	margin-left: 60px;
}

.search-button {
	height: 100%;
	background-color: transparent;
	cursor: pointer;
	vertical-align: middle;
	border: none;
	position: absolute;
	right: 0;
}

.search-with-category {
	width: 85%;
	font-size: large;
	display: flex;
	vertical-align: middle;
	position: relative;
}

.categories {
	min-width: 120px;
}

.search-with-category select {
	padding: 0.5em 1.5em;
	border: 2px solid;
	border-right: none;
	border-image: linear-gradient(to right, indigo, violet) 1;
	font-size: medium;
	outline: none;
}

.product-search {
	width: 70%;
	min-width: 200px;
	padding: 8px 0;
	padding-left: 20px;
	border-image: linear-gradient(to right, violet, indigo) 1;
	font-size: large;
	padding-right: 50px;
	outline: none;
}

.shopping-cart {
	margin-left: 20px;
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart {
	margin-right: 25px;
	cursor: pointer;
	position: relative;
}

.total-price p {
	font-size: 15px;
}

/* Меню для мобильных устройств */

.menu-mobile {
	display: none;
	height: 52px;
	color: violet;
	position: relative;
}

.search-button-mobile {
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.cart-mobile {
	margin: 0 20px;
	position: relative;
}

.cart-mobile p,
.cart p {
	position: absolute;
	top: -9px;
	right: -14px;
	width: 19px;
	height: 19px;
	line-height: 19px;
	padding: 0;
	background-color: #7a00ff;
	text-align: center;
	border: 1px solid white;
	border-radius: 100%;
	color: white;
	margin: 0;
	font-size: small;
}

.login-mobile {
	margin-left: 6px;
	margin-right: 20px;
	cursor: pointer;
}

#menu {
	display: none;
}

#modal-block {
	background-color: indigo;
	color: #fff;
	position: fixed;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	transition: all .5s;
	font-family: 'Raleway', sans-serif;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
}

#modal-block ul {
	list-style-type: none;
}

#modal-block li {
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
}

#modal-block li:hover {
	color: violet;
}

#modal-block:target {
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
}

.catalogue-mobile {
	display: flex;
}

.mobile-catalogue-item {
	margin-left: 20px;
	list-style: disc;
}

#modal-block h3 {
	margin: 20px 0;
	font-size: 1.7em;
}

.catalogue-mobile p {
	margin: 0;
	margin-right: 5px;
	margin-left: auto;
}

.close-block {
	display: flex;
	position: absolute;
	top: 30%;
	right: 25%;
	padding: 5px 20px;
	font-size: 30px;
}

.close-block:hover {
	color: violet;
}

/* Меню */

menu {
	height: 82px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.main-menu {
	width: 100%;
	height: 100%;
	list-style-type: none;
	display: flex;
	padding: 0;
	align-items: center;
	position: relative;
	margin: 0;
	justify-content: center;
}

.menu-item {
	height: 100%;
	margin: 0 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.hr-menu {
	width: 15px;
	height: 14px;
	cursor: pointer;
	background-color: black;
	margin-left: 5px;
}

.hr-top {
	width: 100%;
	margin: 2px 0 2px;
	border: 2px solid white;
}

.hr-bottom {
	width: 100%;
	margin: 0;
	margin-bottom: 2px;
	border: 2px solid white;
}

.catalogue:hover .hr-menu {
	background-color: violet;
}

.menu-item:hover {
	color: violet;
}

.catalogue {
	margin-right: 40px;
}

.catalogue-item {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 15px 0px 15px 0;
	border-bottom: 1px solid #e0e0e0;
}

.main-menu img {
	cursor: pointer;
}

.navigation {
	padding: 0 10px;
}

menu {
	border-bottom: 2px solid violet;
}

.popup-menu {
	width: 180px;
	position: absolute;
	bottom: -183px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
	padding: 0 20px 0 20px;
	box-shadow: 5px 3px 5px #999999;
	border-radius: 5px;
}

.popup-menu-list {
	width: 100%;
	padding: 0;
}

.catalogue:hover .popup-menu {
	opacity: 1;
	visibility: visible;
	transition: opacity 1s, visibility 0s;
	transform: translateY(-30px);
	color: black;
}

.transformed {
	transition: padding 0.2s;
}

.transformed:hover {
	color: violet;
	cursor: pointer;
	padding-left: 20px;
}

/* Раздел с титульниками */

.section-title {
	height: 300px;
	display: flex;
	align-items: center;
}

.page-title {
	height: 260px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "frankinity";
}

.stuffed_toys-background {
	background-image: url("../images/background-stuffed-toys.jpg");
}

.brooches-background {
	background-image: url("../images/background-brooches.jpg");
}

.page-title h1 {
	margin: 0;
	font-size: 80px;
	padding-top: 35px;
}

/* Путь к текущей странице */

.page-path {
	display: block;
	border-bottom: 2px solid violet;
	font-size: 14px;
	padding-bottom: 20px;
}

.page-path ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.page-path li {
	padding-right: 25px;
	list-style-type: '>';
	padding-left: 10px;
}

.page-path .home {
	list-style-type: none;
	padding-left: 0;
}

/* Общие стили для всех страниц */

.colored {
	color: violet;
}

.paintings img {
	box-shadow: 8px 5px 5px #999999;
}

.product-card_disabled {
	opacity: 0.5;
}

/* Футер */

footer {
	border-top: 1px solid #e0e0e0;
}

.contacts {
	padding: 40px 10px;
	text-align: center;
	flex-direction: column;
}

.links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-wrap: wrap;
}

.social-icon img {
	margin: 0 10px 0 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.social-icon img:hover {
	transform: scale(1.2);
}

/* Gradient button */

.gradient-button {
	font-weight: bold;
	outline: none;
	color: indigo;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	font-family: 'roboto';
	margin-left: auto;
	margin-right: auto;
}

.gradient-button:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
}

.gradient-button:active {
	color: #000
}

.gradient-button:active:after {
	background: transparent;
}

.gradient-button:hover:before {
	opacity: 1;
}

.gradient-button:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.reg-button {
	margin-top: 20px;
	width: 200px;
	box-shadow: 5px 3px 5px #999999;
	font-size: large;
	padding: 10px;
}

/* Масштабирование страницы */

@media screen and (max-width: 320px) {

	.logo {
		width: 25%;
	}

	.logo img {
		width: 150px;
		height: 85px;
	}

	.menu-mobile {
		height: auto;
		padding: 6px 0;
	}

	.page-title h1 {
		font-size: 50px;
	}

	#modal-block ul {
		padding: 5px;
	}

	#modal-block li {
		font-size: medium;
	}
}

@media screen and (max-width: 480px) {

	.page-path li {
		list-style-position: inside;
		list-style-type: '>';
		padding: 0;
	}

	.modal-content {
		width: 200px;
		padding: 30px;
	}

	.modal-content h2 {
		font-size: medium;
		margin-left: 10%;
	}

	.registration-row {
		font-size: small;
		padding: 10px 10px;
	}

	.password-strength-check {
		width: 120px;
		font-size: small;
	}

	#message h4 {
		font-size: x-small;
		margin: 0;
		line-height: 15px;
	}

	.reg-button {
		width: 150px;
		font-size: small;
	}

	.password-strength-check p {
		font-size: x-small;
	}
}

@media screen and (min-width: 321px) and (max-width: 768px) {

	.menu-mobile {
		height: 52px;
	}
}

@media screen and (max-width: 768px) {

	.top-bar,
	.search,
	.main-menu {
		display: none;
	}

	.header-categories-search {
		height: 140px;
		border: none;
	}

	.logo {
		width: 100%;
		justify-content: center;
	}

	.menu-mobile {
		display: flex;
		border: 2px solid;
		border-image: linear-gradient(to right, violet, indigo) 1;
		flex-wrap: wrap;
	}

	.hr-menu {
		width: 25px;
		height: 25px;
		background-color: white;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: auto;
		margin-left: 20px;
	}

	.hr-line {
		width: 100%;
		margin: 3px 0;
		border: 1px solid indigo;
	}

	.links img {
		width: 30px;
		height: 30px;
	}

	.contacts h2 {
		font-size: 1.25em;
	}

	.contacts p {
		font-size: 0.75em;
	}

	.page-title {
		height: 220px;
	}
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

	.modal-content {
		width: 400px;
		padding: 30px;
	}

	.modal-content h2 {
		font-size: medium;
		margin-left: 20%;
	}

	.registration-row {
		font-size: medium;
		padding: 10px 10px;
	}

	.password-strength-check {
		font-size: small;
	}

	#message h4 {
		font-size: small;
	}

	.reg-button {
		width: 180px;
		font-size: medium;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	.header-categories-search {
		height: 146px;
	}

	.logo {
		width: 25%;
	}

	.logo img {
		width: 186px;
		height: 100px;
	}

	.search {
		width: 75%;
		margin-left: 10px;
	}

	.search-with-category {
		width: 80%;
	}

	.search-with-category select {
		width: 40%;
		padding: 8px 0;
		padding-left: 8px;
	}

	.product-search {
		width: 60%;
	}

	.shopping-cart {
		width: 20%;
		margin-left: 10px;
	}

	.menu-item {
		margin: 0 10px;
		font-size: 15px;
	}

	.popup-menu {
		width: 160px;
		bottom: -180px;
	}

	.hr-menu {
		width: 12px;
		height: 11px;
	}

	.hr-top {
		margin: 1px 0 1px;
	}

	.hr-bottom {
		margin-bottom: 1px;
	}

	.contacts {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.links {
		margin-top: 10px;
	}

	.section-title {
		height: 250px;
	}

	.page-title {
		height: 220px;
	}

	.page-title h1 {
		font-size: 70px;
		padding-top: 24px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

	.main-menu {
		margin: 0 auto;
	}

	.menu-item {
		margin: 0 20px;
	}
}