/* Раздел с титульниками */

.section-title {
	height: 300px;
	display: flex;
	align-items: center;
}

.page-title {
	height: 260px;
	background-image: url("../images/background-pay-and-delivery.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "frankinity";
}

.page-title h1 {
	margin: 0;
	font-size: 80px;
	padding-top: 35px;
}

/* Путь к текущей странице */

.page-path {
	display: block;
	border-bottom: 2px solid violet;
	font-size: 14px;
	padding-bottom: 20px;
}

.page-path ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.page-path li {
	padding-right: 25px;
	list-style-type: '>';
	padding-left: 10px;
}

.page-path .home {
	list-style-type: none;
	padding-left: 0;
}

/* main */

.pay-and-delivery {
	flex-direction: column;
	align-items: baseline;
	border: 1px solid #e0e0e0;
	margin: 20px auto;
	border-radius: 10px;
	padding: 20px;
}

.delivery-price {
	font-size: x-large;
	font-weight: bold;
	padding: 0;
	list-style-position: inside;
}

.delivery-price li {
	font-size: medium;
	font-weight: 100;
	margin-top: 10px;
}