/* Раздел с титульниками */

.section-title {
	height: 300px;
	display: flex;
	align-items: center;
}

.page-title {
	position: relative;
	height: 260px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "frankinity";
}

.page-title h1 {
	margin: 0;
	font-size: 80px;
	padding-top: 35px;
}

/* Путь к текущей странице */

.page-path {
	display: block;
	border-bottom: 2px solid violet;
	font-size: 14px;
	padding-bottom: 20px;
}

.page-path ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.page-path li {
	padding-right: 25px;
	list-style-type: '>';
	padding-left: 10px;
}

.page-path .home {
	list-style-type: none;
	padding-left: 0;
}

/* main */

main {
	padding-bottom: 40px;
}

.main-left {
	width: 300px;
}

.products-list {
	align-items: start;
	padding-left: 0;
	padding-right: 0;
}

.form-search-main {
	font-size: large;
	display: flex;
	vertical-align: middle;
	height: 54px;
	position: relative;
}

.search-input[type="text"] {
	width: 100%;
	height: 50px;
}

.search-button {
	position: absolute;
	right: 0px;
}

.aside-categories-list {
	padding-left: 10px;
}

.aside-categories-list li {
	list-style-type: none;
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #e0e0e0;
}

.main-right {
	width: 75%;
	height: 1350px;
	position: relative;
}

.row {
	display: flex;
}

.product-card {
	width: 260px;
	height: 389px;
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: #dfdfdf;
	border-radius: 10px;
	box-shadow: 5px 3px 5px #999999;
	transition: all 0.3s ease;
	cursor: pointer;
}

.product-card:hover {
	transform: scale(1.1);
}

.product-bottom ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-title {
	font-size: large;
	font-weight: bold;
	list-style-type: none;
	padding: 5px;
	padding-top: 10px;
}

.product-type-and-size {
	height: 65.23px;
	padding: 5px;
}

.product-type,
.product-size {
	list-style-type: none;
	padding: 2px 2px;
	margin: 0;
	font-size: smaller;
}

.product-price {
	list-style-type: none;
	color: violet;
	font-size: medium;
	padding-top: 10px;
}

.product-bottom {
	height: 40%;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #e0e0e0;
}

.product-top {
	height: 60%;
	border-bottom: 2px solid #dedede;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-top img {
	max-width: 100%;
	max-height: 100%;
}

.products-page {
	width: 100%;
	margin-top: 30px;
	padding-top: 25px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}

.pagination {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: right;
}

.page-numbers {
	width: 30px;
	border: 2px solid #e0e0e0;
	border-radius: 50%;
	margin-right: 10px;
	padding: 10px 5px 10px 5px;
	cursor: pointer;
}

.current {
	background-color: violet;
	color: white;
	cursor: default;
	border-color: violet;
}

.next-page {
	margin-left: 10px;
	cursor: pointer;
}