/* Раздел с титульниками */

.section-title {
	height: 300px;
	display: flex;
	align-items: center;
}

.page-title {
	height: 260px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "frankinity";
}

.page-title h1 {
	margin: 0;
	font-size: 80px;
	padding-top: 35px;
}

/* Путь к текущей странице */

.page-path {
	display: block;
	border-bottom: 2px solid violet;
	font-size: 14px;
	padding-bottom: 20px;
}

.page-path ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.page-path li {
	padding-right: 25px;
	list-style-type: '>';
	padding-left: 10px;
}

.page-path .home {
	list-style-type: none;
	padding-left: 0;
}

/* main */

main {
	padding-bottom: 40px;
}

.main-left {
	width: 300px;
}

.products-list {
	align-items: start;
	padding-left: 0;
	padding-right: 0;
}

.form-search-main {
	font-size: large;
	display: flex;
	vertical-align: middle;
	height: 54px;
	position: relative;
}

.search-input[type="text"] {
	width: 100%;
	height: 50px;
}

.search-button {
	position: absolute;
	right: 0px;
}

.aside-categories-list {
	padding-left: 10px;
}

.aside-categories-list li {
	list-style-type: none;
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #e0e0e0;
}

.main-right {
	width: 75%;
	position: relative;
}

.section-title-hr {
	width: 1200px;
	margin-top: 0;
	margin-bottom: 0;
}

.product {
	height: 450px;
	margin: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-side {
	width: 60%;
	height: 100%;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left-side img {
	max-width: 90%;
	max-height: 90%;
	border-radius: 10px;
	box-shadow: 5px 3px 5px #999999;
}

.product .right-side {
	text-align: left;
	justify-content: left;
}

.right-side {
	position: relative;
	width: 40%;
	height: 450px;
	z-index: 2;
	text-align: left;
	background-color: white;
	margin-left: 30px;
}

.paintings-info li {
	list-style-type: none;
}

.paintings-info {
	padding: 0;
}

.paintings {
	font-size: large;
}

.title {
	font-size: 50px;
	padding: 0 0 10px 0;
}

.price {
	font-size: 30px;
	color: indigo;
	padding: 20px 0;
}

.genre {
	padding-top: 20px;
}

/* 3D кнопка */

/* .wrap {
	display: flex;
	align-items: center;
	justify-content: left;
	position: absolute;
	bottom: 0;
}

.add-to-cart-button {
	font-size: 15px;
	font-weight: 700;
	font-family: "roboto";
	border: 2px solid violet;
	border-radius: 1000px;
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 7px 19px;
	background-color: white;
}

.add-to-cart-button::before {
	content: '';
	border-radius: 1000px;
	min-width: calc(82px + 12px);
	min-height: calc(20px + 12px);
	box-shadow: 0 0 30px violet;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s ease-in-out 0s;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
	transform: translateY(-6px);
	color: indigo;
	border-color: white;
}

.add-to-cart-button:hover::before,
.add-to-cart-button:focus::before {
	opacity: 1;
}

.add-to-cart-button::after {
	content: '';
	width: 30px;
	height: 30px;
	border-radius: 1000px;
	border: 2px solid #f700ff;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 1.5s infinite;
}

.add-to-cart-button:hover::after,
.add-to-cart-button:focus::after {
	animation: none;
	display: none;
}

@keyframes ring {
	0% {
		width: 30px;
		height: 30px;
		opacity: 1;
	}

	100% {
		width: 120px;
		height: 50px;
		opacity: 0;
	}
} */

/* Gradient button */

.add-to-cart-button {
	margin-top: 20px;
	width: 180px;
	height: 50px;
	font-size: large;
	font-weight: bold;
	outline: none;
	color: red;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	font-family: 'roboto';
}

.add-to-cart-button:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
}

.add-to-cart-button:active {
	color: #000
}

.add-to-cart-button:active:after {
	background: transparent;
}

.add-to-cart-button:hover:before {
	opacity: 1;
}

.add-to-cart-button:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}