/* main */

.aside-technique-list {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
}

.product-technique {
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #e0e0e0;
}

/* Масштабирование страницы */

@media screen and (max-width: 320px) {}

@media screen and (min-width: 321px) and (max-width: 360px) {}

@media screen and (min-width: 361px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	.products-list {
		padding: 0 15px;
	}
}