/* Раздел с титульниками */

.section-title {
	height: 300px;
	display: flex;
	align-items: center;
}

.page-title {
	position: relative;
	height: 260px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "frankinity";
}

.page-title h1 {
	margin: 0;
	font-size: 80px;
	padding-top: 35px;
}

/* Путь к текущей странице */

.page-path {
	display: block;
	border-bottom: 2px solid violet;
	font-size: 14px;
	padding-bottom: 20px;
}

.page-path ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.page-path li {
	padding-right: 25px;
	list-style-type: '>';
	padding-left: 10px;
}

.page-path .home {
	list-style-type: none;
	padding-left: 0;
}

/* main */

.section-title-hr {
	width: 1200px;
	margin-top: 0;
	margin-bottom: 0;
}

.product {
	border: 2px solid #e0e0e0;
	padding: 50px 40px;
	margin-bottom: 25px;
	margin-top: 25px;
	background-color: #dfdfdf;
	border-radius: 10px;
	box-shadow: 5px 3px 5px #999999;
}

.left-side {
	width: 60%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	border-left: 2px solid white;
	border-top: 2px solid white;
	border-radius: 10px;
	box-shadow: 5px 3px 5px #999999;
}

.left-side img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	box-shadow: 5px 3px 5px #999999;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

.right-side {
	width: 40%;
	margin-left: 50px;
	z-index: 2;
}

.paintings-info li {
	list-style-type: none;
}

.paintings-info {
	padding: 0;
}

.paintings {
	font-size: large;
	padding-left: 40px;
}

.title {
	font-size: 50px;
	padding: 10px 0 10px 0;
	border-left: 2px solid white;
	border-top: 2px solid white;
	border-radius: 10px;
	box-shadow: 5px 3px 5px #999999;
	text-align: center;
}

.price {
	font-size: 30px;
	color: violet;
	padding: 20px 0 20px 0;
	text-align: center;
}

.concave {
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	border-radius: 10px;
	box-shadow: inset 5px 3px 5px #999999;
}

.genre {
	padding-top: 20px;
}

/* 3D кнопка */

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.add-to-cart-button {
	font-size: 22px;
	font-weight: 700;
	color: white;
	background: #ae4fd1;
	background: linear-gradient(90deg, rgb(230, 129, 222) 0%, rgb(203, 79, 209) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(187, 79, 209, 0.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 15px 38px;
}

.add-to-cart-button::before {
	content: '';
	border-radius: 1000px;
	min-width: calc(156px + 12px);
	min-height: calc(60px + 12px);
	border: 6px solid #f700ff;
	box-shadow: 0 0 60px rgba(204, 0, 255, 0.64);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .3s ease-in-out 0s;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
	color: #313133;
	transform: translateY(-6px);
}

.add-to-cart-button:hover::before,
.add-to-cart-button:focus::before {
	opacity: 1;
}

.add-to-cart-button::after {
	content: '';
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 6px solid #f700ff;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 1.5s infinite;
}

.add-to-cart-button:hover::after,
.add-to-cart-button:focus::after {
	animation: none;
	display: none;
}

@keyframes ring {
	0% {
		width: 30px;
		height: 30px;
		opacity: 1;
	}

	100% {
		width: 170px;
		height: 170px;
		opacity: 0;
	}
}