/* Раздел с титульниками */

.section-title {
	height: 300px;
	display: flex;
	align-items: center;
}

.page-title {
	height: 260px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "frankinity";
}

.page-title h1 {
	margin: 0;
	font-size: 80px;
	padding-top: 35px;
}

/* Путь к текущей странице */

.page-path {
	display: block;
	border-bottom: 2px solid violet;
	font-size: 14px;
	padding-bottom: 20px;
}

.page-path ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.page-path li {
	padding-right: 25px;
	list-style-type: '>';
	padding-left: 10px;
}

.page-path .home {
	list-style-type: none;
	padding-left: 0;
}

/* main */

main {
	padding-bottom: 40px;
}

.main-left {
	flex-basis: 25%;
}

.products {
	align-items: start;
	padding-left: 0;
	padding-right: 0;
}

.form-search-main {
	height: 44px;
	font-size: large;
	display: flex;
	vertical-align: middle;
	position: relative;
}

.search-input {
	width: 80%;
	min-width: 150px;
}

.aside-technique-list {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
}

.product-technique {
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #e0e0e0;
}

.main-right {
	flex-basis: 75%;
	flex-grow: 1;
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-card {
	width: 250px;
	height: 320px;
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #999999;
	transition: all 0.3s ease;
	background-color: #f5f5f5;
}

.product-card:hover {
	transform: scale(1.1);
}

.title-size {
	min-height: 79px;
	margin-top: auto;
}

.product-title {
	font-size: large;
	font-weight: bold;
	padding: 5px;
	padding-top: 10px;
}

.product-type-and-size {
	padding: 5px;
}

.product-size {
	padding: 2px 2px;
	margin: 0;
	font-size: smaller;
}

.product-price {
	padding-bottom: 5px;
	color: indigo;
	font-size: medium;
	margin-top: auto;
}

.product-bottom {
	height: 35%;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-direction: column;
}

.product-top {
	height: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.product-top img {
	max-width: 90%;
	max-height: 90%;
}


.products-page {
	width: 100%;
	margin-top: 30px;
	padding-top: 25px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}

.pagination {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: right;
}

.step-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.prev-page,
.next-page {
	display: flex;
	align-items: center;
}

.prev-page img {
	margin-right: 10px;
}

.page-numbers {
	width: 30px;
	border: 2px solid #e0e0e0;
	border-radius: 50%;
	margin-right: 10px;
	padding: 10px 5px 10px 5px;
	cursor: pointer;
}

.current {
	background-color: indigo;
	color: white;
	cursor: default;
	border-color: indigo;
	margin: 0;
}

.next-page {
	margin-left: 10px;
	cursor: pointer;
}

/* Масштабирование страницы */

@media screen and (max-width: 320px) {}

@media screen and (min-width: 321px) and (max-width: 360px) {}

@media screen and (min-width: 361px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	.main-left {
		min-width: 25%;
	}

	.main-right {
		min-width: 72%;
		max-width: 717px;
	}

	.section-title {
		height: 250px;
	}

	.page-title {
		height: 220px;
	}

	.page-title h1 {
		font-size: 70px;
		padding-top: 24px;
	}

	.product-card {
		width: 160px;
		height: 210px;
		margin: 15px 10px;
	}

	.product-bottom {
		height: 40%;
		margin-top: 10px;
	}

	.product-top {
		height: 60%;
	}

	.title-size {
		min-height: 50px;
	}

	.product-title {
		font-size: medium;
		padding: 0;
	}

	.product-size {
		display: none;
	}

	.product-price {
		font-size: smaller;
		font-weight: bold;
		margin: 0;
	}

	.search-input {
		min-width: 100px;
	}

	.page-numbers {
		width: 20px;
		height: 20px;
		padding: 5px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

	.product-card {
		width: 220px;
		height: 300px;
		margin: 20px 10px;
	}

	.product-bottom {
		height: 40%;
		margin-top: 10px;
	}

	.product-top {
		height: 60%;
	}
}