/* Титульник */

.page-title h1 {
    font-size: 80px;
}

/* main */

.my-account {
    padding: 40px 10px;
}

.account-menu {
    min-width: 20%;
    border: 3px solid #e0e0e0;
    padding: 20px;
    margin-right: 30px;
    align-self: start;
}

.account-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.account-menu li {
    margin: 0 10px;
    padding: 15px 0;
}

.bordered {
    border-bottom: 1px solid #e0e0e0;
}

.account-menu li:hover {
    color: violet;
}

.account-content {
    width: 70%;
    margin-left: 30px;
}

/* Данные аккаунта и адрес */

.form label {
    font-size: 14px;
    margin-bottom: 2px;
}

.form-container {
    width: 100%;
    flex: 1;
}

.form-row {
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.first-name,
.last-name {
    width: 45%;
    overflow: hidden;
}

.registration-input {
    border: none;
    padding: 13px 13px;
    background-color: rgb(245, 245, 245);
    font-size: 15px;
}

#account-message {
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    line-height: 5px;
}

.form-container h3 {
    margin: 10px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 21px;
    padding: 5px 0;
    font-weight: 100;
}

.save-changes-button {
    width: 220px;
    height: 50px;
    margin-left: 10px;
    font-size: medium;
}

.required {
    color: #ff0000;
}

.account-first-last-name {
    display: flex;
    justify-content: space-between;
}

/* Заказы */

.account-orders {
    display: flex;
    align-self: start;
}

.browse-products-link {
    margin-right: 10px;
    margin-left: auto;
}

/* Масштабирование страницы */

@media screen and (max-width: 320px) {

    .page-title h1 {
        font-size: 40px;
    }

    .form-row {
        display: block;
        width: 100%;
    }

    .first-name,
    .last-name {
        width: auto;
    }

    .save-changes-button {
        width: auto;
        height: 50px;
        margin: 0;
    }

    .account-orders {
        display: block;
    }

    .browse-products-link {
        margin: 0;
    }

    .browse-products-button {
        width: auto;
    }
}

@media screen and (max-width: 768px) {

    .account-menu,
    .account-info {
        width: 100%;
        margin: 0;
    }

    .account-menu {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    .page-title h1 {
        font-size: 60px;
    }
}