/* Раздел с титульниками */

.section-title {
	height: 300px;
	display: flex;
	align-items: center;
}

.page-title {
	height: 260px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "frankinity";
}

.page-title h1 {
	margin: 0;
	font-size: 80px;
	padding-top: 35px;
}

/* Путь к текущей странице */

.page-path {
	display: block;
	border-bottom: 2px solid violet;
	font-size: 14px;
	padding-bottom: 20px;
}

.page-path ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.page-path li {
	padding-right: 25px;
	list-style-type: '>';
	padding-left: 10px;
}

.page-path .home {
	list-style-type: none;
	padding-left: 0;
}

/* Корзина */

.products-in-cart {
	display: block;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin-top: 20px;
	padding: 20px;
}

.top {
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.top img {
	padding-right: 10px;
}

.top h3 {
	margin: 0;
	font-size: larger;
}

.center {
	display: flex;
	align-items: center;
	height: 160px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}

.center-left {
	width: 20%;
	height: 150px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.center-left img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	box-shadow: 5px 3px 5px #999999;
}

.center-right {
	width: 80%;
	padding: 0 20px;
}

.product-info {
	margin-bottom: 10px;
}

.product-info ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.product-info li {
	padding-right: 10px;
}

.product-title {
	font-size: larger;
	margin-bottom: 10px;
	color: rgb(126, 1, 215)
}

.product-price {
	display: flex;
	align-items: center;
}

.price {
	width: 50%;
	color: red;
}

.remove-product-button {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.bottom {
	display: flex;
	align-items: center;
}

.in-cart {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: right;
	text-align: center;
	font-size: inherit;
	line-height: 8px;
	margin-left: auto;
	margin-right: 0;
}

.total,
.delivery {
	padding-right: 15px;
	border-right: 1px solid #e0e0e0;
	;
}

.delivery,
.to-pay {
	padding-left: 15px;
}

.to-pay b {
	color: red;
}

.grey {
	color: rgb(159, 159, 159);
}

/* empty-cart-button */

.empty-cart-button {
	margin-left: auto;
	margin-right: 0;
	width: 180px;
	height: 50px;
}

/* back-button */

.back-button {
	width: 180px;
	height: 50px;
}

/* checkout-button */

.checkout-button {
	width: 180px;
	height: 50px;
	margin-top: 20px 10px auto 0;
	margin-right: 15px;
	margin-left: auto;
	font-size: medium;
	color: white;
	border-color: rgb(228, 3, 3);
}

.checkout-button:after {
	background-color: rgb(228, 3, 3);
}

.checkout-button:hover {
	color: red;
}

.checkout-button:hover::after {
	background-color: white;
}

.checkout-button:active::after {
	background: transparent;
}


/* Регистрация */

.delivery-registration {
	margin-top: 20px;
	padding: 20px 0;
	align-items: baseline;
}

.client-info {
	margin-left: auto;
	margin-right: auto;
}

.registration-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 45%;
	padding: 10px;
}

.registration-form label {
	font-size: 14px;
	margin-bottom: 2px;
}

.required {
	color: #ff0000;
}

.form-row {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.form {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 100%;
}

.first-name,
.last-name {
	width: 45%;
	overflow: hidden;
}

.registration-input {
	border: none;
	padding: 13px 13px;
	background-color: rgb(245, 245, 245);
	font-size: 15px;
}

.create-account-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.create-account-form label {
	margin: 0;
	margin-left: 5px;
}

#password-form,
#password-confirm-form {
	display: none;
}

.delivery-registration h4 {
	margin-bottom: 30px;
}

.checkbox-row {
	margin: 3px 0;
}

.password,
.password-confirm {
	max-width: 579px;
}

/* Окно проверки пароля */

#reg-message {
	display: none;
	position: relative;
	flex-direction: column;
	align-items: center;
	line-height: 5px;
}

/* Доставка */

.delivery-form {
	width: 45%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.delivery-method,
.payment-method {
	margin-bottom: 40px;
}

/* Комментарий к заказу */

.order-comment {
	margin: 20px 0;
}

.order-comment textarea {
	width: 100%;
	margin-top: 10px;
	font-size: 19px;
}

/* Масштабирование страницы */

@media screen and (max-width: 320px) {}

@media screen and (min-width: 321px) and (max-width: 360px) {}

@media screen and (min-width: 361px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	.registration-form,
	.delivery-form {
		width: 45%;
	}

	/* .container {
		flex-wrap: nowrap;
	} */
}