{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Brooches</title>
<link rel="stylesheet" href="{% static 'styles/brooches.css' %}">
{% endblock %}

{% block content %}
<section class="section-title">
	<div class="container page-title">
		<h1>Броши</h1>
	</div>
</section>
<section class="page-path container">
	<ul>
		<li class="home">Главная</li>
		<li>Броши</li>
	</ul>
</section>
<div class="container products-list">
	<div class="main-left">
		<aside class="aside-search">
			<h4>Поиск продукта</h4>
			<form class="form-search-main" action="/search" method="get">
				<input class="product-search search-input" type="text" name="search" placeholder="Поиск">
				<button class="search-button">
					<img src="{% static 'images/search.png' %}" alt="search" width="30" height="30">
				</button>
			</form>
		</aside>
	</div>
	<div class="main-right">
		<section class="products">
			<div class="row">
				<a href="{% url 'product' %}"><div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/1.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Хризантема</li>
							<li class="product-price"><span class="price-color">800 ₽</span>
							</li>
						</ul>
					</div>
				</div></a>
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/2.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Цветок</li>
							<li class="product-price"><span class="price-color">500 ₽</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/3.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Серёжки-ромбики</li>
							<li class="product-price"><span class="price-color">1000 ₽</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/4.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Ромашка</li>
							<li class="product-price"><span class="price-color">800 ₽</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/5.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Подснежник</li>
							<li class="product-price"><span class="price-color">1000 ₽</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/8.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Тукан</li>
							<li class="product-price"><span class="price-color">1000 ₽</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/10.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Инь-янь</li>
							<li class="product-price"><span class="price-color">800 ₽</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/7.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Осенний лист</li>
							<li class="product-price"><span class="price-color">800 ₽</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-card">
					<div class="product-top">
						<img src="{% static 'categories/brooches/9.png' %}" alt="painting">
					</div>
					<div class="product-bottom">
						<ul>
							<li class="product-title">Бабочка</li>
							<li class="product-price"><span class="price-color">1000 ₽</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="products-page">
			<ul class="pagination">
				<li class="page-numbers current">1</li>
				<li class="page-numbers">2</li>
				<li class="next-page">
					<img src="{% static 'images/right.png' %}" alt="next-page" width="15" height="15">
				</li>
			</ul>
		</section>
	</div>
</div>
{% endblock %}