{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Pay and delivery</title>
<link rel="stylesheet" href="{% static 'styles/delivery.css' %}">
{% endblock %}

{% block content %}
<section class="section-title">
	<div class="container page-title">
		<h1>Оплата и доставка</h1>
	</div>
</section>
<section class="page-path container">
	<ul>
		<li class="home"><a href="{% url 'home' %}">Главная</a></li>
		<li>Оплата и доставка</li>
	</ul>
</section>
<div class="container pay-and-delivery">
	<p>Доставка продукции осуществляется по всей России. Срок доставки зависит от региона. При доставке курьером у вас будет время удостовериться в качестве товара в течение 10 минут. Менеджер предупредит заранее о дате и времени доставки позвонив по указанному в заказе телефону.</p>
	<ul class='delivery-price'>Стоимость доставки
		<li>Курьером до двери или в ПВЗ по всей России - 500 руб.</li>
		<li>Курьером по двери по г. Набережные Челны - 300 руб.</li>
		<li>Самовывоз: г. Набережные Челны - бесплатно</li>
	</ul>
	<ul class='delivery-price payment-methods'>Способы оплаты
		<li>Наличными курьеру при доставке или при самовывозе заказа из студии</li>
		<li>Электронные платежи Яндекс деньги, Сбербанк, Visa, Mastercard и другие</li>
	</ul>
	<ul class='delivery-price additional-information'>Дополнительная информация
		<li>Вся продукция представлена в единичном экземпляре</li>
		<li>Доставка по г. Набережные Челны осуществляется с 09:00 до 22:00 ежедневно</li>
		<li>Доставка по России осуществляется транспортной компанией «СДЭК» или «Почта России»</li>
	</ul>
</div>
{% endblock %}