{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>My_account</title>
<link rel="stylesheet" href="{% static 'styles/my_account.css' %}">
{% endblock %}

{% block content %}
<section class="section-title">
	<div class="container page-title">
		<h1>Личный кабинет</h1>
	</div>
</section>
<section class="page-path container">
	<ul>
		<li class="home">Главная</li>
        <li>Личный кабинет</li>
	</ul>
</section>
<div class="container my-account">
    <div class='account-menu'>
        <ul>
            <a href="#"><li>Данные аккаунта</li></a>
            <a href="#"><li>Мой адрес</li></a>
            <a href="#"><li>Мои заказы</li></a>
            <a href="#"><li>Выйти</li></a>
        </ul>
    </div>
    <div class='account-info'>
        <div class='form-row'>
            <div class='first-name form'>
                <label for="account-first-name">ИМЯ <span class="required">*</span></label>
                <input class='registration-input' type="text" name="first-name" id="account-first-name" required autocomplete='first-name'>
            </div>
            <div class='last-name form'>
                <label for="account-last-name">ФАМИЛИЯ <span class="required">*</span></label>
                <input class='registration-input' type="text" name="last-name" id="account-last-name" required>
            </div>
        </div>
        <div class='form-row'>
            <div class='email form'>
                <label for="account-email">EMAIL <span class="required">*</span></label>
                <input class='registration-input' type="email" name="email" id="account-email" required autocomplete="email">
            </div>
        </div>
        <p>Изменить пароль</p>
        <div class='form-row' id='account-old-password-form'>
            <div class='old-password form'>
                <label for="account-old-password">СТАРЫЙ ПАРОЛЬ <span class="required">*</span></label>
                <input class='registration-input' type="password" name="old-password" id="account-old-password" required>
            </div>
        </div>
        <div class='form-row' id='account-password-form'>
            <div class='password form'>
                <label for="account-password">НОВЫЙ ПАРОЛЬ <span class="required">*</span></label>
                <input class='registration-input' type="password" name="password" id="account-password" required>
                <div id="account-message">
                    <h4>Пароль должен содержать следующее:</h4>
                    <div class="password-strength-check">
                        <p id="account-letter" class="invalid">Маленькие буквы</p>
                        <p id="account-capital" class="invalid">Большие буквы</p>
                        <p id="account-number" class="invalid">Число</p>
                        <p id="account-length" class="invalid">Минимум 8 символов</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='form-row' id='account-password-confirm-form'>
            <div class='password-confirm form'>
                <label for="account-password-confirm">ПОДТВЕРЖДЕНИЕ ПАРОЛЯ <span class="required">*</span></label>
                <input class='registration-input' type="password" name="password-confirm" id="account-password-confirm" required>
            </div>
        </div>
        <button class='gradient-button save-changes-button' type='submit' name='checkout'>СОХРАНИТЬ ИЗМЕНЕНИЯ</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/my_account.js' %}"></script>
{% endblock %}