{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>One_product</title>
<link rel="stylesheet" href="{% static 'styles/one_product.css' %}">
{% endblock %}

{% block content %}
<section class="section-title">
	<div class="container page-title">
		<h1>Картины</h1>
	</div>
</section>
<section class="page-path container">
	<ul>
		<li class="home colored"><a href="{% url 'home' %}">Главная</a></li>
		<li>{{ product.category }}</li>
	</ul>
</section>
<div class="container product-detail">
	<section class="product-card-detail">
		<div class="left-side {% if product.category.name == 'Картины' %} paintings {% endif %}">
			<img src="{{ product.image.url }}" alt="painting">
		</div>
		<div class="right-side">
			<ul class="product-info">
				<li class="product title">{{ product.title }}</li>
				<li class="product price">{{ product.price }} ₽</li>
				{% if product.category.name == 'Картины' %}
				<li class="product genre"><b>Жанр:</b> {{ product.genre }}</li>
				{% endif %}
				{% if product.category.name == 'Картины' or product.category.name == 'Мягкие игрушки' %}
				<li class="product technique"><b>Техника:</b> {{ product.technique }}</li>
				{% endif %}
				<li class="product size"><b>Размер:</b> {{ product.size }}</li>
				<li class="product material"><b>Материал:</b> {{ product.material }}</li>
				{% if product.category.name == 'Картины' %}
				<li class="product frame"><b>Наличие подрамника:</b> {{ product.display_frame }}</li>
				<li class="product baguette"><b>Наличие багета:</b> {{ product.display_baguette }}</li>
				<li class="product passe-partout"><b>Наличие паспарту:</b> {{ product.display_passe_partout }}</li>
				<li class="product decor"><b>Оформление:</b> {{ product.decor }}</li>
				{% endif %}
				<li class="product creation-year"><b>Год создания:</b> {{ product.creation_year }}</li>
				<button class="gradient-button add-to-cart-button" type='submit' name='add_to_cart'>КУПИТЬ</button>
			</ul>
		</div>
	</section>
{% endblock %}

