{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Products</title>
<link rel="stylesheet" href="{% static 'styles/products.css' %}">
{% endblock %}

{% block content %}
<section class="section-title">
	<div class="container page-title">
		<h1>{{ category.name }}</h1>
	</div>
</section>
<section class="page-path container">
	<ul>
		<li class="home colored"><a href="{% url 'home' %}">Главная</a></li>
		{% if technique %}
			<li><a class = 'colored' href="{% url 'products_by_category' category_id=2 %}">{{ category.name }}</a></li>
			<li>{{ technique }}</li>
		{% else %}
			<li>{{ category.name }}</li>
		{% endif %}
	</ul>
</section>
<div class="container products">
	<div class="main-left">
		<aside class="aside-search">
			<h4>Поиск продукта</h4>
			<form class="form-search-main" action="/search" method="get">
				<input class="product-search search-input" type="text" name="search" placeholder="Поиск">
				<button class="search-button">
					<img src="{% static 'images/search.png' %}" alt="search" width="30" height="30">
				</button>
			</form>
		</aside>
		{% if category.name == 'Картины' and not technique %}
			<aside class="aside-technique">
				<h4>Категории</h4>
				<div class="aside-technique-list">
					{% for technique in techniques %}
						<span class="product-technique transformed"><a href="{% url 'products_by_technique' technique=technique %}">{{ technique }}</a></span>
					{% endfor %}
				</div>
			</aside>
		{% endif %}
	</div>
	<div class="main-right">
		<section class="products-list">
			{% for product in products %}
				<a href="{% url 'one_product' product_id=product.id %}"><div class="product-card">
					<div class="product-top {% if product.category.name == 'Картины' %} paintings {% endif %}">
						<img src="{{ product.image.url }}" alt="product">
					</div>
					<div class="product-bottom">
						<div class='title-size'>
							<div class="product-title">{{ product.title }}</div>
							<div class="product-size">{{ product.size }}</div>
						</div>
						<div class="product-price">
							<span class="price-color">{{ product.price}} ₽</span>
						</div>
					</div>
				</div></a>
			{% endfor %}
		</section>
		<section class="products-page">
			<div class="pagination">
				<span class="step-links">
					{% if products.has_previous %}
					<div class="prev-page">
						<a href="?page=1"><img src="{% static 'images/left.png' %}" alt="prev-page" width="15" height="15"></a>
						<a class=page-numbers href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a>
					</div>
					{% endif %}
					<span class="page-numbers current">
						{{ products.number }}
					</span>
					{% if products.has_next %}
					<div class="next-page">
						<a class=page-numbers href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a>
						<a href="?page={{ products.paginator.num_pages }}"><img src="{% static 'images/right.png' %}" alt="next-page" width="15" height="15"></a>
					</div>
					{% endif %}
				</span>
			</div>
		</section>
	</div>
</div>
{% endblock %}