{% extends 'profile.html' %}
{% load static %}

{% block profile-content %}
	<form class='form-container' action="{% url 'profile' %}" method="post">
        <div class='form-row account-first-last-name'>
            <div class='first-name form'>
                <label for="account-first-name">ИМЯ <span class="required">*</span></label>
                <input class='registration-input' type="text" name="first-name" id="account-first-name" required autocomplete='first-name'>
            </div>
            <div class='last-name form'>
                <label for="account-last-name">ФАМИЛИЯ <span class="required">*</span></label>
                <input class='registration-input' type="text" name="last-name" id="account-last-name" required>
            </div>
        </div>
        <div class='form-row'>
            <div class='email form'>
                <label for="account-email">EMAIL <span class="required">*</span></label>
                <input class='registration-input' type="email" name="email" id="account-email" required autocomplete="email">
            </div>
        </div>
        <h3>Изменить пароль</h3>
        <div class='form-row' id='account-old-password-form'>
            <div class='old-password form'>
                <label for="account-old-password">СТАРЫЙ ПАРОЛЬ <span class="required">*</span></label>
                <input class='registration-input' type="password" name="old-password" id="account-old-password" required>
            </div>
        </div>
        <div class='form-row' id='account-password-form'>
            <div class='password form'>
                <label for="account-password">НОВЫЙ ПАРОЛЬ <span class="required">*</span></label>
                <input class='registration-input' type="password" name="password" id="account-password" required>
                <div id="account-message">
                    <h4>Пароль должен содержать следующее:</h4>
                    <div class="password-strength-check">
                        <p id="account-letter" class="invalid">Маленькие буквы</p>
                        <p id="account-capital" class="invalid">Большие буквы</p>
                        <p id="account-number" class="invalid">Число</p>
                        <p id="account-length" class="invalid">Минимум 8 символов</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='form-row' id='account-password-confirm-form'>
            <div class='password-confirm form'>
                <label for="account-password-confirm">ПОДТВЕРЖДЕНИЕ ПАРОЛЯ <span class="required">*</span></label>
                <input class='registration-input' type="password" name="password-confirm" id="account-password-confirm" required>
            </div>
        </div>
        <button class='gradient-button save-changes-button' type='submit'>СОХРАНИТЬ ИЗМЕНЕНИЯ</button>
    </form>
{% endblock %}