{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Shopping cart</title>
<link rel="stylesheet" href="{% static 'styles/shopping_cart.css' %}">
{% endblock %}

{% block content %}
<section class="section-title">
	<div class="container page-title">
		<h1>Корзина</h1>
	</div>
</section>
<section class="page-path container">
	<ul>
		<li class="home colored"><a href="{% url 'home' %}">Главная</a></li>
		<li>Корзина</li>
	</ul>
</section>
{% if items %}
<section class='section-main'>
	<div class='container products-in-cart'>
		<div class='top'>
			<div>
				<img src="{% static '/images/products-in-cart.png' %}" alt="products-in-cart" widht=30px height= 30px>
			</div>
			<div>
				<h3>Товаров в корзине ({{ items|length }})</h3>
			</div>
			<form class= 'empty-cart-form' action="{% url 'clear_shopping_cart' %}" method="POST">
				{% csrf_token %}
				<button class='gradient-button empty-cart-button'>ОЧИСТИТЬ КОРЗИНУ</button>
			</form>
		</div>
		{% for item in items %}
		<div class='center'>
			<div class='center-left {% if item.product.category.name == "Картины" %} paintings {% endif %}'>
				<img src="{{ item.product.image.url }}" alt="painting">
			</div>
			<div class='center-right'>
				<div class='product-title'>{{ item.product.title }}</div>
				<div class='product-info'>
					<ul>
						<li><b>Категория:</b> {{ item.product.category.name }},</li>
						<li><b>Размер:</b> {{ item.product.size }},</li>
						<li><b>Материал:</b> {{ item.product.material }}</li>
					</ul>
					{% if item.product.category.name == "Картины" %}
					<ul>
						<li><b>Наличие подрамника:</b> {{ item.product.display_frame }},</li>
						<li><b>Наличие багета:</b> {{ item.product.display_baguette }},</li>
						<li><b>Наличие паспарту:</b> {{ item.product.display_passe_partout }},</li>
						<li><b>Оформление:</b> {{ item.product.decor }}</li>
					</ul>
					{% endif %}
				</div>
				<div class='product-price'>
					<div class='price'><b>Цена:</b> {{ item.product.price }} ₽</div>
					{% comment %} <div class='quantity'><b>Количество:</b> {{ item.quantity }} шт.</div> {% endcomment %}
				</div>
			</div>
			<form action="{% url 'delete_from_shopping_cart' product_id=item.product.id %}" method='post' id="delete-form-{{ item.product.id }}">
				{% csrf_token %}
			</form>
			<img class='remove-product-button' src="{% static '/images/remove-3.png' %}" data-product-id="{{ item.product.id }}" alt="remove" width=30px height=30px>
		</div>
		{% endfor %}
		<div class='bottom'>
			<a href="{% url 'home' %}"><button class='gradient-button back-button'>НАЗАД К ПОКУПКАМ</button></a>
			<div class='total-price in-cart'>
				<div class='total'>
					<p><span class='grey'>Итого</span></p>
					<p><b>{{ total_price }} ₽</b></p>
				</div>
				<div class='delivery'>
					<p><span class='grey'>Доставка</span></p>
					<p><b>{{ deliveries.0.price }} ₽</b></p>
				</div>
				<div class='to-pay'>
					<p><span class='grey'>К оплате</span></p>
					<p><b>{{ total_price|add:deliveries.0.price }} ₽</b></p>
				</div>
			</div>
		</div>
	</div>
	<div class='container delivery-registration'>
		<div class='registration-form'>
			<div class='form-row client-info'>
				<h4>ДАННЫЕ О ЗАКАЗЧИКЕ</h4>
			</div>
			<div class='form-row'>
				<div class='first-name form'>
					<label for="first-name">ИМЯ <span class="required">*</span></label>
					<input class='registration-input' type="text" name="first-name" id="first-name" required autocomplete='first-name'>
				</div>
				<div class='last-name form'>
					<label for="last-name">ФАМИЛИЯ <span class="required">*</span></label>
					<input class='registration-input' type="text" name="last-name" id="last-name" required>
				</div>
			</div>
			<div class='form-row'>
				<div class='city form'>
					<label for="city">ГОРОД / НАСЕЛЁННЫЙ ПУНКТ <span class="required">*</span></label>
					<input class='registration-input' type="text" name="city" id="city" required>
				</div>
			</div>
			<div class='form-row'>
				<div class='street form'>
					<label for="street">УЛИЦА / ДОМ / КОРПУС <span class="required">*</span></label>
					<input class='registration-input' type="text" name="street" id="street" required>
				</div>
			</div>
			<div class='form-row'>
				<div class='apartment form'>
					<label for="apartment">КВАРТИРА / ДОМ <span class="required">*</span></label>
					<input class='registration-input' type="text" name="apartment" id="apartment" required>
				</div>
			</div>
			<div class='form-row'>
				<div class='phone form'>
					<label for="reg-phone">ТЕЛЕФОН <span class="required">*</span></label>
					<input class='registration-input' type="tel" name="phone" id="reg-phone" required autocomplete="tel">
				</div>
			</div>
			<div class='form-row'>
				<div class='email form'>
					<label for="reg-email">EMAIL <span class="required">*</span></label>
					<input class='registration-input' type="email" name="email" id="reg-email" required autocomplete="email">
				</div>
			</div>
			<div class='create-account-form'>
				<input type="checkbox" id="create-account">
				<label for="create-account">ЗАРЕГИСТРИРОВАТЬ АККАУНТ</label>
			</div>
			<div class='form-row' id='password-form'>
				<div class='password form'>
					<label for="reg-password">ПАРОЛЬ <span class="required">*</span></label>
					<input class='registration-input' type="password" name="password" id="reg-password" required>
					<div id="reg-message">
						<h4>Пароль должен содержать следующее:</h4>
						<div class="password-strength-check">
							<p id="reg-letter" class="invalid">Маленькие буквы</p>
							<p id="reg-capital" class="invalid">Большие буквы</p>
							<p id="reg-number" class="invalid">Число</p>
							<p id="reg-length" class="invalid">Минимум 8 символов</p>
						</div>
					</div>
				</div>
			</div>
			<div class='form-row' id='password-confirm-form'>
				<div class='password-confirm form'>
					<label for="password-confirm">ПОДТВЕРЖДЕНИЕ ПАРОЛЯ <span class="required">*</span></label>
					<input class='registration-input' type="password" name="password-confirm" id="password-confirm" required>
				</div>
			</div>
		</div>
		<div class='delivery-form'>
			<div class='delivery-method'>
				<h4>СПОСОБ ДОСТАВКИ</h4>
				{% for delivery in deliveries %}
				<div class='express-delivery checkbox-row'>
					<input type="radio" id="delivery-choice-{{ delivery.id }}" name='delivery-choice' {% if forloop.first %} checked {% endif %}>
					<label for="delivery-choice-{{ delivery.id }}">{{ delivery.name }} - {{ delivery.price }} руб.</label>
				</div>
				{% comment %} <div class='express-delivery checkbox-row'>
					<input type="radio" id="delivery-choice-NabChelny" name='delivery-choice'>
					<label for="delivery-choice-NabChelny">Курьером до двери по г. Набережные Челны - 300 руб.</label>
				</div>
				<div class='pickup checkbox-row'>
					<input type="radio" id="delivery-choice-pickup" name='delivery-choice'>
					<label for="delivery-choice-pickup">Самовывоз: г. Набережные Челны - бесплатно.</label>
				</div> {% endcomment %}
				{% endfor %}
			</div>
			<div class='payment-method'>
				<h4>СПОСОБ ОПЛАТЫ</h4>
				<div class='cash-payment checkbox-row'>
					<input type="radio" id="payment-cash" name='payment'>
					<label for="payment-cash">Оплата наличными при получении.</label>
				</div>
				<div class='card-payment checkbox-row'>
					<input type="radio" id="payment-card" name='payment' checked>
					<label for="payment-card">Оплата онлайн банковской картой.</label>
				</div>
			</div>
			<div class='order-comment'>
				<label for="comment"><b>КОММЕНТАРИЙ К ЗАКАЗУ:</b></label><br>
				<textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
			</div>
			<button class='gradient-button checkout-button' type='submit' name='checkout'>ОФОРМИТЬ ЗАКАЗ</button>
		</div>
	</div>	
</section>
{% else %}
<div class='container products-in-cart empty'>
	<h2>Ваша корзина пуста</h2>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/shopping_cart.js' %}"></script>
{% endblock %}

